page-entrar {
    .botEntrar {
        position: absolute;
        bottom: 2%;
        width: 100%
    }

    .senhaItem {
        margin-top: 40px
    }

.loginBtn {
    width: 50%;
    margin-left: 25%;
    background: linear-gradient(to top, #BB0005, #610003);
    padding: 15px 20px;
    border-radius: 100px;
    margin-top: 40px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px
}



    .padding-logo {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 40px;
        padding-bottom: 20px
    }
.scroll-content {
        //padding-bottom: 0px !important;
        background-color: #170706 !important;
         background-image: url('../../assets/imgs/bg-entrar.png');
        background-size: cover;
        background-position: center;
    }
    .bg-registro {
        width: 100%;
        height: 100%;
        // background-image: url('../../assets/imgs/james-owen-653037-unsplash.jpg');
        // background-size: cover;
        // background-position: center;
    }
    .bg-solid {
        width: 100%;
        height: 80%;
        background-color: #170706;
        background-size: cover;
        background-position: center;
    }
    .logo {
        width: 60%;
        height: 20%;
    }
    .registrar {
        text-align: center;
        margin-top: -32px;
        font-size: 15px;
        color: #fce4ec;
        }
    
    .bg-label {
        background-color: transparent;
    }
    .text-label {
        text-align: center;
        font-size: 15px !important;
        color: #fce4ec !important; 
    }
    .button {
        font-size: 15px !important;
        color: #fff !important;
    }
    .position-center {
        position: relative;
    }    
    .text {
        position: absolute;
        font-size: 2.0em;
        width: 100%;
        color: #fff;
    }

    

    @media screen  and (max-width: 400px) {
        .botEntrar {
            position: absolute;
            bottom: 0;
            width: 100%
        }

        .senhaItem {
            margin-top: 20px
        }


.loginBtn {
    width: 50%;
    margin-left: 25%;
    background: linear-gradient(to top, #BB0005, #610003);
    padding: 15px 20px;
    border-radius: 100px;
    margin-top: 20px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px
}
      }

      @media only screen 
      and (device-width : 375px) 
      and (device-height : 812px) 
      and (-webkit-device-pixel-ratio : 3) { 
 
            .botEntrar {
                position: absolute;
                bottom: 2%;
                width: 100%
            }
        
            .senhaItem {
                margin-top: 40px
            }
        
        .loginBtn {
            width: 50%;
            margin-left: 25%;
            background: linear-gradient(to top, #BB0005, #610003);
            padding: 15px 20px;
            border-radius: 100px;
            margin-top: 40px;
            color: #fff;
            text-align: center;
            letter-spacing: 2px
        }
        
        
        
            .padding-logo {
                padding-left: 80px;
                padding-right: 80px;
                padding-top: 40px;
                padding-bottom: 20px
            }
        .scroll-content {
                //padding-bottom: 0px !important;
                background-color: #170706 !important;
                 background-image: url('../../assets/imgs/bg-entrar.png');
                background-size: cover;
                background-position: center;
            }
            .bg-registro {
                width: 100%;
                height: 100%;
                // background-image: url('../../assets/imgs/james-owen-653037-unsplash.jpg');
                // background-size: cover;
                // background-position: center;
            }
            .bg-solid {
                width: 100%;
                height: 80%;
                background-color: #170706;
                background-size: cover;
                background-position: center;
            }
            .logo {
                width: 60%;
                height: 20%;
            }
            .registrar {
                text-align: center;
                margin-top: -32px;
                font-size: 15px;
                color: #fce4ec;
                }
            
            .bg-label {
                background-color: transparent;
            }
            .text-label {
                text-align: center;
                font-size: 15px !important;
                color: #fce4ec !important; 
            }
            .button {
                font-size: 15px !important;
                color: #fff !important;
            }
            .position-center {
                position: relative;
            }    
            .text {
                position: absolute;
                font-size: 2.0em;
                width: 100%;
                color: #fff;
            }
      }
    
}
