page-profile {


    .bg-profile {
        width: 100%;
        height: 100%;
        background-color: #170706;
        background-size: cover;
        background-position: center;
    }
    .bg-solid {
        width: 100%;
        height: 80%;
        background-color: #170706;
        background-size: cover;
        background-position: center;
    }
    .logo {
        width: 60%;
        height: 20%;
    }
    .registrar {
        text-align: center;
        margin-top: -32px;
        font-size: 15px;
        color: #fce4ec;
        }
    
    .bg-label {
        background-color: transparent;
    }
    .text-label {
        text-align: center;
        font-size: 15px !important;
        color: #fce4ec !important; 
    }
    .button {
        font-size: 15px !important;
        color: #fff !important;
    }
    .position-center {
        position: relative;
    }    
    .text {
        color: rgb(100, 18, 18);
    }

    .header {
        background-color: #fff;
    }
    .bg-profile {
        width: 100%;
        height: 100%;
        background-color: #170706;
        background-size: cover;
        background-position: center;
    }
    .tabs-positioning {
        background-position-x: center;
    }



}
