//Import font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
//Global
*{
    font-family: 'Lato', sans-serif;
}

.backBtn {
    color: #fff;
    font-size: 22px;
    margin-top: 25px;
    margin-left: 25px
    // position: absolute;
    // top: 5%;
    // left: 5%;
}

.backBtn2 {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 25px;
    left:25px;
    z-index: 1000;
}

.topMenu {
    background: #A11418;
    height: 40%;
    width: 100%;
    text-align: center
}

.logout {
    position: absolute;
    bottom: 30px;
    color:#fff;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 300
}

@media screen  and (max-width: 400px) {
    .logout {
        position: absolute;
        bottom: 5px;
        color:#fff;
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: 300
    }

    .botMenu {
        padding-top: 0px !important;
        background:#880003;
        height: 60%;
        width: 100%;
        text-align: center
    }
    
}
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) { 
    .logout {
        position: absolute;
        bottom: 30px;
        color:#fff;
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: 300
    }

    .botMenu {
        padding-top: 40px;
        background:#880003;
        height: 60%;
        width: 100%;
        text-align: center
    }
    
}

.audioN {
    color: #fff;    
    display: block;
    margin-top: 12px;
    margin-left: 20px
}

.itemM {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px;
    color:#fff;
    font-size: 30px;
    font-weight: 300
}

.botMenu {
    padding-top: 40px;
    background:#880003;
    height: 60%;
    width: 100%;
    text-align: center
}

.userN {
    font-weight: 500;
    color:#fff;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 18px
}

.userS {
    font-weight: 300;
    color:#fff;
    margin-top: 5px;
    margin-bottom: 0px;
}

.avatar2 {
    margin-top: 40px;
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 100px
}

.custPad {
    padding: 26px
}

.custPad2 {
    padding: 10px
}


.custInp {
    color:#fff;
    font-size: 20px;
    font-weight: 300
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff !important;
    opacity: 1; /* Firefox */
}

.loginItem {
    background: transparent;
    text-align: center !important;
    padding-right: 16px;

}

ion-input {
    input {
      text-align: center;
      /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
      ::-webkit-input-placeholder {
        text-align: center;
        color: #fff;
        opacity: 1;
      }
    }
  }

.bot {
    background: #180707;
    height: 45%;
    padding: 30px
}

.top {
    height:55%;
    background-image: url('../../assets/imgs/img.png');
    background-size: cover;
    background-position: center;
    width: 100%
}

.vamosC {
    color:#fff;
    font-weight: 700;
    font-size: 32px !important
}


//Align
.center {
    text-align: center
}

.right {
    text-align: right
}

//BG TRANSPARENT
.bg-transparent {
    background-color: transparent;
}



//Margin
.mg-neg-50 {
    margin-top: -50px;
}
.mg-neg-300 {
    margin-top: -300px;
}
.mg-neg-top-100 {
    margin-top: -100px;
}
.mg-neg-top-10 {
    margin-top: -10px;
}
.mg-neg-left-10 {
    margin-left: -10px;
}
.mg-neg-right-10 {
    margin-right: -10px;
}
.mg-neg-left-10 {
    margin-bottom: -10px;
}
.mg-left {
    margin-left: 40px;
}


.no-margin {
    margin: 0px
}
.mg-top-5 {
    margin-top: 5px;
}
.mg-top-10 {
    margin-top: 10px;
}
.mg-top-20 {
    margin-top: 20px;
}
.mg-top-30 {
    margin-top: 30px;
}
.mg-top-40 {
    margin-top: 40px;
}
.mg-top-80 {
    margin-top: 80px;
}
.mg-top-120 {
    margin-top: 120px;
}
.mg-top-400 {
    margin-top: 400px;
}
.mg-top-250 {
    margin-top: 250px;
}
.mg-top-230 {
    margin-top: 230px;
}
.mg-top-200 {
    margin-top: 200px;
}


.mg-center {
    margin: center
}

//Padding
.no-padding {
    padding: 0px
}

.padding-20 {
    padding: 20px
}

.padding-40 {
    padding: 40px
}
.padding-80 {
    padding: 80px
}

.padding-10-percent {
    padding: 10px
}

.padding-top-10-percent {
    padding-top: 10%
}
.padding-top-30-percent {
    padding-top: 30%
}


.padding-top-30 {
    padding-top: 30px
}
.padding-lat-40 {
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
}


//Font style
.bold {
    font-weight: 700
}
.light {
    font-weight: 300
}
.font-size-1em {
    font-size: 1em
}